* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-print-color-adjust: exact; 
}
.divider_main {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.first_card, .second_card{
    width: 350px;
    background-color: #fff;
}
.top_logo {
    position: relative;
}
.top_logo::after {
    position: absolute;
    width: 70px;
    height: 16px;
    content: "";
    top: 9px;
    background-color: #4B4B4B;
    border-radius: 15px;
    left: calc(50% - 35px);
}
.top_logo img {
    width: 75px;
    margin: 25px 25px 0;
    margin-bottom: 13px;
}
.main_pic{
    text-align: center;
    position: relative;
}
.main_pic img:nth-child(1) { 
    width: 170px;
    background: #fff;
    border-radius: 15px;
    border: solid 1px;
    position: relative;
    left: 0;
    z-index: 5;
}
.main_pic img:nth-child(2) {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    top: -105px;
}
.clr_cls {
    text-align: center;
    padding: 20px 0;
}
.clr_cls p {
    font-weight: 600;
}
.divider {
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.divider div:nth-child(2) {
    padding-left: 20px;
}
.bar_coder{
    text-align: center;
}
.bar_coder img {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}
.second_card {
    text-align: center;
    position: relative;
}
.second_card h1 {
    position: relative;
    padding-top: 40px;
}
.second_card h1::after {
    position: absolute;
    width: 70px;
    height: 16px;
    content: "";
    top: 9px;
    background-color: #4B4B4B;
    border-radius: 15px;
    left: calc(50% - 35px);
}
.second_card .main_p {
    font-weight: 600;
    padding: 50px 20px;
}
.second_card .divider {
    font-weight: 700;
}
.main_iamger__son img {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    bottom: 0;
}
.second_logo img {
    width: 120px;
    padding-top: 65px;
}
.qrrr {
    width: 20%;
    position: absolute;
    bottom: 8px;
    background: #fff;
    left: 15px;
}